[Unit]
Description=i3lock

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/i3lock-wrapper
ExecStartPost=/usr/local/bin/autosleep 1
ExecStopPost=/usr/local/bin/autosleep 0
KillMode=control-group
# Restart=always
# RestartSec=1s

[Install]
WantedBy=default.target
