{{- if hasKey . "secrets" }}
{{- with index . "secrets" }}
{{- if .ageRecipient }}
encryption = "age"
[age]
    identity = "{{ $.chezmoi.homeDir }}/.config/chezmoi/key.txt"
    recipient = "{{ .ageRecipient }}"
{{- end }}
{{- end }}
{{- end }}
