[Unit]
Description=i3lock

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/local/src/i3lock-fancy-multimonitor/lock -p -n

[Install]
WantedBy=default.target
