[Unit]
Description=i3lock

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -d -ef -c 000000

[Install]
WantedBy=default.target
